[2017-09-07 23:13] LeonidKokhnovich opened #1 "Can't open the release app bundle"
When I copied the app to Applications folder and try to open it, it gives an error:

“MockGeneratorApp.app” is damaged and can’t be opened. You should move it to the Trash.

I have Mac OS X 10.12.6

[2017-09-07 23:16] LeonidKokhnovich commented on #1
Here is what I see in the system console:

16:15:43.722875 -0700	CoreServicesUIAgent	com.apple.message.domain: com.apple.usage.gatekeeper.open-unsafe-executable-type
com.apple.message.signature: com.apple.application-bundle
com.apple.message.signature2: LSRiskCategoryUnsafeExecutable
SenderMachUUID: 5041F021-9F74-3CE5-8E96-58DBFE1822AF

[2017-09-08 13:30] evgzor commented on #1
the same problem -- macOS Sierra, shell we manually compile?

[2017-09-08 19:42] LeonidKokhnovich commented on #1
When I try to build it, it says SourceKittenFramework is missed. Also signing identities are set to the personal apple dev profile.

[2017-09-09 00:54] seanhenry commented on #1
The dependencies require manual building at the moment.

Sorry for the bad upload. I downloaded it and unzipped it and it was the same.

I've replaced it with another binary on the same release page. I've downloaded it and I can install it now (once gatekeeper is happy). Let me know if this fixes the problem.

[2017-09-09 01:01] #1 closed, assigned to nobody

[2017-09-09 01:01] LeonidKokhnovich commented on #1
Thanks, it works!

[2017-09-09 01:02] LeonidKokhnovich opened #2 "Xcode doesn't show Mock generator in Edit tab"
After following this steps:

Download the latest release here
Copy the app to the Applications folder.
Open the app
Select the path to your project (Why do I have to do this?)
Open Xcode

I don't see any mock specific subtab in the editor tab.
Xcode Version 8.3.2 (8E2002)
Swift Toolchain: Swift 3.0.1

[2017-09-09 01:03] LeonidKokhnovich commented on #2
I wonder if I need to install Xcode extension separately...

[2017-09-09 01:18] seanhenry commented on #1
🎉

[2017-09-09 01:22] seanhenry commented on #2
Opening the MockGeneratorApp should automatically install the extension. Perhaps try restarting Xcode?

Otherwise try opening System Preferences -> Extensions and see if the extension is listed in the Xcode section?

[2017-09-09 03:14] LeonidKokhnovich commented on #2
It looks like it's disabled by default in Preferences -> Extensions. If I enable it manually, it works!

[2017-09-09 03:57] seanhenry commented on #2
Great. Did you manage to generate a mock?

I'm not sure whether it is disabled by default or whether it happened because of the bad app you downloaded earlier but I'll add it as an installation step in the readme.

Thanks for reporting this!

[2017-09-09 04:16] LeonidKokhnovich commented on #2
Yes, I was able to generate a mock. Thanks!

[2017-09-09 04:16] #2 closed, assigned to nobody

[2018-01-17 21:30] LeonidKokhnovich opened #3 "Closure parameter is not saved to a variable"
I have a protocol with this function declaration:
[code]

The generated code looks like this:
[code]

So there is no way to get observer parameter in the test suite after this method has been called.

[2018-01-17 23:20] seanhenry commented on #3
That's right. The way this mock works is to either:
- ignore the closure when the data was not stubbed, or
- call the closure with the stubbed data

By default the closure will not be called. But you can choose what data to call the closure with by:
[code]
or, if you want to call the closure with `nil`:
[code]
The reason the closures aren't captured by the mock is because not all closures are `@es

[2018-01-17 23:23] LeonidKokhnovich commented on #3
Thank you for the response! Is it possible to capture closures that are marked with "@escaping"?

[2018-01-17 23:49] seanhenry commented on #3
It is possible, but the mock isn't clever enough to figure that out yet. I would recommend subclassing mocks when you need some extra behaviour. For example your mock could be subclassed like this to get your custom behaviour:
[code]

[2018-01-17 23:53] LeonidKokhnovich commented on #3
That's one of the possible solutions. I hope this feature can be added in the future!
I would suggest keeping this issue opened till the feature is added or feel free to close it if you disagree.
Thank you for support!

[2018-01-18 03:36] seanhenry commented on #3
I'm not sure I will add it as a feature because it would mean escaping and non-escaping closures would be handled differently and there would be 2 ways to call escaping closures (either by capturing one as a parameter, or by stubbing the closure data).

I can see the benefit of capturing a closure though. Would you be interested in [this feature](https://github.com/seanhenry/MockGenerator/issues/1

[2018-01-18 20:20] LeonidKokhnovich commented on #3
Thank you for the response!
I checked that page, but it's still not clear to me what is the idea behind the mock template.
I don't see any mocking sample with a protocol there. Could you please provide more details how it can help to capture escaping closures?

[2018-01-18 21:57] seanhenry commented on #3
It’s a feature that hasn’t been developed yet but the idea behind it is that it gives you the freedom to create your own style of mock. So in this case, you would be able to change the template to include closures in the parameter list.

After speaking to some developers they like the plugin but would prefer the mocks to be generated in their own style. Is it something you’d be interested in seein

[2018-01-18 21:59] LeonidKokhnovich commented on #3
If that feature can introduce an option to customize mocking behavior, that would be great. But I also think there should be a default template so devs can use it without getting too deep into the mock generator capabilities.

[2018-01-19 04:59] seanhenry commented on #3
That's right. There would be a default template and you would be able to have one or more custom mock templates alongside.

[2018-01-30 18:53] LeonidKokhnovich opened #4 "Code can't be compiled because @escaping is used in the closure variable type declaration"
If I generate a mock for the protocol like this

[code]
I get the following mock:
[code]
This can't be compiled due to "@escaping attribute may only be used in function parameter position"

[2018-01-30 20:32] seanhenry commented on #4
Thanks for raising this issue. The Xcode plugin doesn’t support type aliases yet. I’ll make this a feature request and work on this next.

[2018-02-04 06:24] seanhenry commented on #4
This is now fixed. You can download the latest release [here](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.7). Thanks again for raising this issue :)

[2018-02-04 06:24] #4 closed, assigned to nobody

[2018-02-04 06:25] seanhenry commented on #3
I'll close this for now but will aim to support custom templates in the near future.

[2018-02-04 06:25] #3 closed, assigned to nobody

[2018-02-16 18:27] LeonidKokhnovich opened #5 "Mock generator fails to create mock code for a swift protocol"
While I was trying to generate a mock for a swift protocol, I saw an issue that it was failing multiple times in a row. Restarting Xcode / swift mock generator util sometimes helps. I can't provide a test project to check it out because have no idea how to reproduce it, but I have some ideas why it might be the issue:

1. Mock generator util fails to find the protocol after a certain timeout. It t

[2018-02-16 21:32] seanhenry commented on #5
Hi, thanks for raising this issue.

I don’t think the problem is the timeout or the recursive searching. I’ve tested with a reasonably large project and it seems to generate a mock in a few seconds (please let me know if that isn’t the case).

Next time it happens could you send me the exact message and the approximate time it takes?

The problem sounds like it is with SourceKit. It won’t be able

[2018-02-17 09:05] GoatHunter opened #6 "3rd party framework inheritance support contribution"
Hi, I'd like to help in getting 3rd party framework inheritance support, if time allows, can you please describe in high level what's missing to support that?

[2018-02-18 01:22] seanhenry commented on #6
Hi,

Thanks for raising this issue. I will try to write some contribution guidelines this week to help you navigate the project. Did the Makefile work as expected? Run `./scripts/test` to verify all tests are passing (you may have to install xcpretty `gem install xcpretty`).

How it finds protocols now:

SourceKit accepts a list of swift files to search when resolving symbols such as protocols. At

[2018-02-18 05:41] GoatHunter commented on #6
Thanks for the detailed reply, I haven't compiled the project from source yet, only tried out the plug-in, I'll start digging.

[2018-02-19 19:10] LeonidKokhnovich commented on #5
@seanhenry The idea regarding SourceKit is quite possible.

"Next time it happens could you send me the exact message and the approximate time it takes?"
- Message - "Reachable element could not be resolved"
- Approximate time - ~19 seconds

[2018-02-19 19:12] LeonidKokhnovich commented on #5
It the problem is with SourceKit indexing, can we give a warning message that indexing is in progress and you should try again later instead of waiting for ~19 seconds and giving an error?

[2018-02-19 20:17] LeonidKokhnovich opened #7 "Use apple script to get current Xcode project directory"
I wonder if it was considered to use Apple Script (https://gist.github.com/schwa/3822611) to check what is the currently opened project folder instead of manually specifying it in the mock generator util.

[2018-02-19 21:06] seanhenry commented on #5
That would be the ideal solution but I don’t think there is a way to figure out if indexing is happening.

[2018-02-19 21:22] seanhenry commented on #7
Interesting. I haven’t considered using AppleScript for something like this.

I’d be interested to know how you’re using the mock generator. Do you tend to have multiple projects open at the same time? Or are you changing projects frequently?

[2018-02-19 21:28] LeonidKokhnovich commented on #7
I have an app project that includes few other subprojects.
Subprojects are _not_ stored within the main app directory.
I usually switch between them quite often while working on the main app.
In order to make the mock generator work, I have to specify the root folder for all Xcode projects and that's why mock generator sometimes works quite slowly for me (10+ seconds).

[2018-02-19 21:29] LeonidKokhnovich commented on #5
Ok, closing the issue for now. If I see the problem again, I will dive into the code and try to come up with some solution. Thank you!

[2018-02-19 21:29] #5 closed, assigned to nobody

[2018-02-19 21:30] seanhenry commented on #7
I can see why that’s annoying. Let me look into this.

[2018-02-23 21:58] abbeyjackson opened #8 "Generated mocks do not handle generic functions"
Protocols which contain generic functions can not be generated because the generic type can not be determined.

ex, this function:

    `func getObjects<T: RealmSwift.Object>(_ objects: T.Type) -> Results<T>?`

Will generate as:

[code]

Where type 'T' is undeclared.

[2018-02-24 01:31] seanhenry commented on #7
I've created a [release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases) to detect the directory of the open Xcode project. It should fix your problem as long as you are opening your subprojects in another Xcode window and not editing them directly from your main project.

It would be useful to get your feedback when you've tried it out.

[2018-02-24 01:36] seanhenry commented on #8
Thanks for raising this issue. Generic methods aren't supported yet. But I'll look at implementing this ASAP.

[2018-02-24 02:25] LeonidKokhnovich commented on #7
It works, thank you!

[2018-02-24 02:25] #7 closed, assigned to nobody

[2018-02-24 03:09] abbeyjackson commented on #8
That would be great. I was trying to think of how to handle this myself, just modifying the generated mock but I was coming up short. What are you thinking as a possible solution?

[2018-02-24 04:17] seanhenry commented on #8
It seems like we can use `Any` for capturing generic paramters. We can't get anymore accurate than that because a generic type might conform to a protocol with associated type requirements which would not compile.

Same goes for capturing types. `T.Type` is captured by `Any.Type`.

Returning generic types gets a little tricky but we can cast our stubbed value to the generic type in the return stat

[2018-02-25 20:17] #6 closed, assigned to nobody

[2018-02-26 20:30] abbeyjackson commented on #8
I think this looks great! Thank you for being so attentive and quick to come up with a solution. Would you be able to merge the changes in? Right now I am working on switching some older mocks over to use your generator and I have one I can not yet switch without this change.

[2018-02-26 21:14] seanhenry commented on #8
No problem. I’m still working on the fix but I’ll upload it as soon as it’s done.

[2018-02-26 23:24] LeonidKokhnovich opened #9 "Generates mock conforming to multiple protocols"
Hey! Thanks for a great support of this extension! I wonder how difficult to migrate support for generating mock for multiple protocols from AppCode extension? In the readme, I assume it's called "Generates mock conforming to both classes and protocols."

I'm talking about this use case:
[code]

[2018-02-27 07:59] seanhenry commented on #9
Hi! This would be a nice feature to move into the Xcode plugin. It’s tied into the AppCode implementation at the moment so I’ll look at extracting it to make it reusable as soon as I can. Watch this space :)

[2018-03-02 23:03] LeonidKokhnovich opened #10 "Generated mock auto-triggers passed closures"
I have a protocol like:
[code]
for which I try to generate a mock. As a result I get this code:
[code]

I'm thinking if it would make more sense not to call the onSuccess automatically?

I found that if I change the protocol like:
[code]
then I get a correct mock:
[code]

[2018-03-03 00:51] seanhenry commented on #10
Hi. Thanks for raising this issue. I can definitely see why you don’t want to always call the closure now, especially with this example. How would you feel about having a `Bool` when a closure has no arguments?
[code]
And then inside the method:
[code]

[2018-03-03 01:07] LeonidKokhnovich commented on #10
Thanks for looking into it! The flag would definitely help.

I would try to follow the existing convention like:
[code]
but if there is no parameter needed, that might be confusing...

[2018-03-03 05:58] seanhenry commented on #8
I've added this feature now and uploaded the app [here](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases). One note, I couldn't support methods with `where` clauses due to some limitations with SourceKit but I've got a plan to support this soon.

[2018-03-07 17:04] abbeyjackson commented on #8
Fantastic! Thanks for being so attentive. Your library has saved us a lot of time and made it easier to teach those that are learning about tests.

[2018-03-07 20:37] abbeyjackson commented on #8
Okay so what I am seeing here is a little bit different than what you had posted above in the edge case that an array of generic type is one of the parameters or the return type also

```func bar<T: Foo>(a: [T], completion: @escaping () -> Void)```

[code]

[2018-03-07 22:06] seanhenry commented on #8
Thanks for raising this case and I’m glad this plugin is saving you some time. The information I get from SourceKit is really basic (just a string for a parameter type) which is why my plugin won’t recognise the type within an array (and many other cases). I’m working on ditching it in favour of a custom syntax parser which I’m writing myself. But I’ll make generics my priority when it’s done.

Le

[2018-03-08 16:47] abbeyjackson commented on #8
Sounds good! Let me know if you need anything. For the time being I just swapped out "T" for "Any" and left a note that it needed to be done if the mock was regenerated. Works great :)

[2018-03-15 07:25] seanhenry commented on #8
The release to fix your generic array is [finally ready](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases) 🎉

I've replaced SourceKit with a custom parser which will hopefully speed things up going forward.

There are still some types that aren't supported yet (see the README) but I'll add support for them soon.

[2018-03-15 07:28] seanhenry commented on #10
I think I'm leaning towards using the `Bool` even though it breaks the existing convention. I think it will be easier to understand that way. I'm planning to look at this issue next :)

[2018-03-15 19:12] LeonidKokhnovich commented on #10
@seanhenry The other option is not to call blocks automatically but instead store the block in the params list. That introduces a requirement to clean up the memory, but also might be worth considering.

[2018-03-16 03:30] seanhenry commented on #10
We have to give the option to call the closures automatically because it needs to support non-escaping closures but I can definitely see the benefit of storing the escaping closures. And you’re right with the potential memory issues. You would likely have to set the mock to `nil` in the tear down which isn’t ideal. I think this might need some more thought.

[2018-03-26 20:51] rckim77 commented on #9
I'd also like to see this as a feature! Are there any workarounds for the time being?

[2018-03-26 21:08] LeonidKokhnovich commented on #9
@rckim77 On my side as a workaround, I declared a separate mock class that confirmed to 1 of the protocols, generated code through the mock generator, inserted into the base mock class and repeated for each of the protocols that the mock should confirm to.

[2018-03-26 21:13] seanhenry commented on #9
That sounds like the only work around for now unfortunately. I’m working on this feature but I’ve been slowed down by some other projects. I’m aiming to get support out for this soon. Thanks for your patience!

[2018-03-29 17:16] abbeyjackson opened #11 "not detecting project even when set to manual"
I'm experiencing an issue where my first mock works fine but after that there is a long period of time and then I get a message that the project could not be auto detected and to set the path manually. The only problem is it is already set manually. The first time it was on automatic so I changed it to manual earlier this morning. In order to fix this I have to click automatic and then back to man

[2018-03-30 04:33] seanhenry commented on #11
Hi. Thanks for raising this issue. The auto-detect feature uses Apple Script to ask Xcode which project directory is open. It sounds like this isn't working for you. Could you try a few things to help me understand what is happening?

1. Next time you see the error: "Could not detect your project. Enter one in the companion app." open Terminal and execute this command: `osascript -e 'tell applicat

[2018-04-02 15:40] abbeyjackson commented on #8
fantastic thank you!

[2018-04-02 15:47] abbeyjackson commented on #11
Next time I see the issue I will reply with all of this info but in the meantime some of this I can answer:

2. It shows the correct path
3. It actually always takes more than a few seconds to generate. We have a large repo and it is faster if I point the plugin to the directory that contains the protocol but it is still usually more than a couple seconds. We have a large internal framework includ

[2018-04-02 21:01] MercyBeat opened #12 "New Swift parser ignores inheritance"
It seems like the parser change in release v1-beta.11 does not catch inherited members from parent protocols. It should traverse the inherited members.

[2018-04-03 07:45] seanhenry commented on #12
Hi. Thanks for raising this issue. I’m working on a feature to support inherited protocol members and also multiple inherited protocols. I’ll post any updates here.

[2018-04-03 07:51] seanhenry commented on #11
Thanks for the response. I think I’ve found the issue and will put out a fix soon.

Sorry to hear about the slow generation times. I intend to do some benchmarking to get better performance when I finish adding the next few features.

[2018-04-05 22:05] abbeyjackson commented on #11
No worries, our project is pretty big, I'm used to things taking a while :)

[2018-04-08 23:10] seanhenry commented on #11
I've uploaded [the fix](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.12). The problem (I think) was that you can't run an AppleScript reliably in an XPC instance so it's now running from the extension itself. Hopefully this fixes your problem.

[2018-04-21 06:56] seanhenry commented on #12
I've uploaded a release which supports mocks conforming to more than 1 protocol. See [here](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.13) for details.

[2018-04-21 06:56] #12 closed, assigned to nobody

[2018-04-21 06:57] seanhenry commented on #11
I'm going to assume that fix has solved your problem. If not, feel free to open this issue again.

[2018-04-21 06:57] #11 closed, assigned to nobody

[2018-04-21 07:01] seanhenry commented on #10
I've uploaded a [release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.13) which no longer calls empty closures automatically. I've also made steps towards supporting customised mock templates as we discussed earlier which will allow you create your own template to capture closures if you like. Stay tuned for that feature.

[2018-04-21 07:01] #10 closed, assigned to nobody

[2018-04-21 07:02] seanhenry commented on #9
I've (finally) uploaded a [release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.13) to support multiple protocols. Thanks for your patience on this one!

[2018-04-21 07:02] #9 closed, assigned to nobody

[2018-04-21 07:06] LeonidKokhnovich commented on #10
Great, thanks a lot!

[2018-04-21 08:14] seanhenry opened #13 "Roadmap - what would you like to see next?"
I have a few ideas on what to work on next but would like to get some input as to what you, the users of this app, would like. Please comment if you have a feature that you would like to see next.

|Feature|Effort|
|---|---|
|Custom mock templates|L|
|Class support|M|
|Resolve items from 3rd party/system frameworks|XL|

### Custom mock templates

- Allows the creation of custom templates using the

[2018-04-21 17:34] abbeyjackson commented on #11
Hi Sean, sorry for the delay. I will confirm for you on Monday!

[2018-04-25 21:38] abbeyjackson commented on #11
Everything is working great, thanks again Sean!

[2018-04-25 22:33] seanhenry commented on #11
Great!

[2018-05-07 07:36] #13 closed, assigned to nobody

[2018-09-18 09:21] andyboyd opened #14 "Doesn't work on Xcode 10"
When trying to generate a mock on Xcode 10, I just get the error message "Could not find a protocol on <Insert class name here>", even though the protocol has been defined.

[2018-09-19 08:48] seanhenry commented on #14
Hi @andyboyd

Thanks for raising this issue. It looks like from your error message that you are not using the latest version. Can you open the companion app and check that the version number is `v0.16`? If it is lower can you install the latest version and try again?

I haven't been able to reproduce this issue using `v0.16` and Xcode 10 so far. Can you attach a simple project where it is reproduc

[2018-09-19 10:31] andyboyd commented on #14
I've updated to version 0.16 and I'm still seeing the same error (except now it says "Could not find a class or protocol"!)

I tried to reproduce it in a fresh project, and I did manage, but then I cleaned something up and the bug went away, and I haven't been able to reproduce it again. Our project has a ReplayKit Broadcast Upload Extension in it, and we have 2 copies of each target for live and

[2018-09-19 15:26] seanhenry commented on #14
Thanks for the info. The error essentially means that Source Kit could not resolve any inherited types to a protocol or class and the source kit implementation is very basic in this project. Source kit is given all the files in the project directory ignoring any different targets or modules which can lead to some problems. For example, if you have two types with the same name across two different

[2018-09-19 15:26] #14 closed, assigned to nobody

[2018-09-20 19:14] joshwoods commented on #14
@seanhenry We are running into this issue on our end as well with Xcode 10. Not entirely sure what the cause is here, but for our target that is the host of our testing suite, we are also not getting autocomplete. I have a feeling that this may all be related to the mock generator not working as well but I haven't been able to reproduce in sample projects at all either.

[2018-09-21 15:39] CyberDandy opened #15 "Impossible to install and/or use the app if Xcode is renamed"
Having multiple versions of Xcode on my Mac, I have them named different ways (Xcode_9_4_1.app, Xcode_10.app, ...). When I open the app to install it in that configuration (with no app called Xcode.app), as soon as I select setup popup, a "Choose Application" popup appears in loop, the app being unresponsive, and me being unable to install it. I tested it on the last two releases with the same res

[2018-09-22 07:59] seanhenry commented on #15
Hi @CyberDandy

Thanks for raising this issue. I think I know what the problem might be. I'll look into it now.

[2018-09-22 08:06] seanhenry commented on #14
Interesting... If you're not getting autocomplete then that says to me that source kit is not working for you project for some reason. Can you try cleaning the project directory, restarting Xcode, etc and seeing if you can get autocomplete to work? The rule of thumb is if you can resolve to the declaration in Xcode with cmd+click then you should be able to generate a mock. Although there are excep

[2018-09-25 23:11] j531 opened #16 ""Could not find a protocol on...""
I'm trying to generate a Spy class in my test target. When I go to Editor > Mock Generator > Generate spy, I get a "Could not find a protocol on..." error. This actually happens if I try to generate the Spy anywhere outside of the file containing the protocol itself. As a result, my workflow involves switching to the file containing the protocol, generating the Spy class and then cut / pasting it

[2018-09-25 23:13] j531 opened #17 "Mock Generator did not show in the Extensions menu until I renamed the app"
As per the title. I couldn't get the app to show in System Preferences until I renamed the application (I removed 'For Xcode' from the end).

Using OS X 10.13.6 and Mock Generator v1-beta.16.

Cheers

[2018-09-27 01:20] seanhenry commented on #17
Hi @j531

Thanks for raising this issue. I am able to see the app in System Preferences with the full name so I'm not sure why you couldn't. It might be worth me shortening the name of the app bundle anyway!

[2018-09-27 01:39] seanhenry commented on #16
Hi @j531

Thanks for raising this issue. The reason why this happens is because source kit cannot find the class or protocol that your spy inherits. The generator will, however, be able to resolve your class or protocol if it is in the same file because it uses a custom resolver for local item instead of source kit.

Essentially, the reason why source kit might not be able to find a type is due to

[2018-09-27 01:40] seanhenry commented on #16
Also the reason behind #14

[2018-10-09 14:33] BohdanOrlov commented on #16
@seanhenry thank you for the extension!
Just wanted to add that this issue makes it much harder to use the extension since we have all mocks in a separate test support framework while protocols in a production framework.
![image](https://user-images.githubusercontent.com/6740223/46670131-3e5dcd80-cbc9-11e8-80bb-953469d7767f.png)

[2018-10-10 13:58] seanhenry commented on #16
Hi @BohdanOrlov

Thanks for your comment. It looks to me like your project setup should work ok with how source kit is configured. Have you managed to generate any mocks in their own file?

@j531 same question. Have you ever managed to generate a mock in its own file in Xcode 10? And was it working with Xcode 9?

[2018-10-10 15:45] j531 commented on #16
@seanhenry

I always have to generate the mock in the file where the protocol is defined. I've only tested this in Xcode 10 (I don't have Xcode 9 installed).

In a similar vein and possibly related to this issue, I've noticed that if ProtocolA inherits from ProtocolB and ProtocolB is in a different file, any mock generated (in the same file as ProtocolA) will only have implementations for the Prot

[2018-10-12 14:59] seanhenry commented on #15
Hi @CyberDandy

This issue is now fixed in the [latest release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.17) 🎉

If you still have a problem, please feel free to reopen this issue.

[2018-10-12 14:59] #15 closed, assigned to nobody

[2018-10-12 15:12] seanhenry commented on #16
@j531 @BohdanOrlov

I've uploaded a [new release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.17). Can you install that and see if it solves your issues?

If the new release doesn't fix your issues then deselect the 'Automatically detect project path' checkbox in the companion app and select the folder containing your module production code (not your root project d

[2018-10-12 15:14] seanhenry commented on #14
@andyboyd @joshwoods

If you're still having issues I've released a [new version](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.17) which might help.

If it doesn't help then I have a couple of other things to try... See my comment in issue #16

[2018-10-12 15:17] seanhenry commented on #17
@j531 could you delete your renamed copy of the app and install the [new release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.17)? You should be able to see it in the Extensions window without having to rename the app. Let me know if not :)

[2018-10-13 11:58] j531 commented on #17
Yeah, it works without renaming this time, thanks.

[2018-10-13 11:58] #17 closed, assigned to nobody

[2018-10-13 12:04] j531 commented on #16
@seanhenry

The new version is working fine now. I can generate mocks in a separate target / file to the file I am referencing in the mock class. It also adds all implementation for any parent protocols of the protocol I am mocking. Thanks for the update!

I'll wait for @BohdanOrlov to confirm before closing.

[2018-10-13 12:07] seanhenry commented on #16
That’s great news! Thanks for letting me know.

[2018-10-16 09:56] BohdanOrlov commented on #16
@seanhenry its works if I select a folder with only one module inside.

If I use "automatic detection" it doesn't work and I get an error in Console:
`[1:getCursorInfo:10319:431.6181] failed to create an ASTInvocation: error when parsing the compiler arguments`

It would be amazing to have it working with multiple modules, since switching the folder manually is painful :)

[2018-10-17 11:03] seanhenry commented on #16
Ok, cool. So it looks like that error comes from SourceKit and it seems to be complaining about the arguments that the generator is sending to it. The compiler arguments that get sent to SourceKit are `"-jn"` (where n is the number of cores in your machine) and then each `.swift` file in your project directory.

I've tried to reproduce this error but I haven't managed to yet. Can you open the comp

[2018-10-19 09:46] andyboyd commented on #14
New version works again, thanks!

[2018-10-19 11:38] seanhenry commented on #14
Awesome! Thanks for letting me know :)

[2018-10-19 12:44] BohdanOrlov commented on #16
@seanhenry I didn't find anything special about names, but by excluding some modules I could make it work for remaining modules. Unfortunately, I can't tell what exactly causing the issue, maybe its duplicate name of types or something else.
Would it be possible for you to somehow provide more output when the companion app fails to find/parse swift files so I could try to work around the issue for

[2018-10-19 22:54] seanhenry commented on #16
That sounds good. Does this mean you’ve identified the problem folder(s)?

I can get you a version which logs more stuff. I can log the exact arguments that it sends to source kit? I probably can’t log in more detail than that for source kit though because I hand it off to SourceKitten at that point... do you have an idea of something else that would be useful for me to log?

I’m also thinking abo

[2018-10-22 09:54] BohdanOrlov commented on #16
I know only that some modules(folders) cause the problem, but since they are now small, I don't know what exactly is the problem (which files/subfolders). So additional logging would help.

Logging anything you put into SourceKitten and get back from it could help.

"Managed list of ignored patterns" might be useful, depending on how the process works now (forgive my ignorance). If the search proc

[2018-10-26 08:27] seanhenry commented on #16
Hi @BohdanOrlov

I've uploaded a [new release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.18) which logs everything that I send to SourceKitten.

To find the logs, open the Console app as before. You should now find a log which points you to the log file. E.g. "SourceKit request written to: /tmp/...". In that file you can see the full request that is sent to Sourc

[2018-10-29 15:17] BohdanOrlov commented on #16
@seanhenry the latest release works for me! I can generate mock for protocols defined in different files and even from different modules.

Regarding logs:
I see errors like this `error: TEST SOURCE KIT ERROR` is that some sub not removed or it actually comes from SourceKitten?

I think the issue can be closed unless someone else can reproduce it! Thank you!

[2018-10-29 15:20] BohdanOrlov opened #18 "Subscript support."
Hey, @seanhenry!
I've realised that subscript is not supported:

![image](https://user-images.githubusercontent.com/6740223/47659935-e560d400-db8d-11e8-9679-22ce8c21b8eb.png)

[code]
is is a known issue or something you want to support in future?

[2018-10-29 21:21] seanhenry commented on #16
That’s good to hear! The only change I made was to move the -jn argument into two arguments so maybe that was the issue 🤔

Thanks for your time in helping me fix it - it’s really appreciated!

I’ll remove that test error in the next release.

[2018-10-29 21:21] #16 closed, assigned to nobody

[2018-10-29 21:24] seanhenry commented on #18
Hey @BohdanOrlov

Thanks for raising this issue. I haven’t added support for subscripts yet. I’ll add support for them soon.

[2018-12-18 15:33] Dinalli opened #19 "Support to create Stub for framework classes"
I would like to be able to create Stub / Spy of framework objects.

import Photos

class PHAssetMock: PHAsset {
}

[2018-12-26 10:02] laurence79 opened #20 "First selection was not a text range"
When attempting to generate anything using the plugin for the first time I am receiving this *First selection was not a text range* error.

Looking through the code I can see that this is being thrown because `XCSourceEditorCommandInvocation.buffer.selections[0]` isn't of type `XCSourceTextRange`, but I don't really know where to go from here.

macOS Mojave 10.14.1
XCode 10.0 (10A255)

[2018-12-26 14:09] seanhenry commented on #19
Hi @Dinalli

Thanks for raising this issue. Creating test doubles from frameworks will require a more sophisticated configuration for SourceKit which unfortunately is quite involved [see this previous issue](https://github.com/seanhenry/SwiftMockGeneratorForXcode/issues/6). I'm planning to eventually add support for third party support but it won't be ready any time soon since it is a lot of work.

[2018-12-26 14:19] seanhenry commented on #20
Hi @laurence79

Thanks for raising this issue. I haven't been able to reproduce your issue so far. If you help me clarify a few things I might be able to help solve your problem.

1. Have you ever been able to generate a test double using the plugin?
2. Do you have the latest version of the plugin installed?
3. Did you have a Swift file open in Xcode and place the cursor in a class declaration? Ex

[2018-12-26 14:30] laurence79 commented on #20
Hi, thanks for looking into it.

1. No I haven't been able to generate anything yet, everything I try yields the same error.
2. I do, v0.18.
3. Yes I've tried that, also selecting a few characters, selecting the entire class etc.

[2018-12-28 15:30] seanhenry commented on #20
Thanks for the info. I've looked into the error and, you're right, it seems like `selections.object(at: 0) as? XCSourceTextRange` is failing. I'm confident that the selection isn't nil which means that the cast to `XCSourceTextRange` is failing. Which is strange because, according to the [documentation](https://developer.apple.com/documentation/xcodekit/xcsourcetextbuffer/2097281-selections?langua

[2019-01-14 10:35] moheny opened #21 "Mock generator not appearing in editor"
It used to work on Xcode 9.+ .
Once I have upgraded to Mojave and Xcode 10, the generator disappears from the editor menu.
Of course I have enabled permission at Check System Preferences -> Security & Privacy -> Privacy.
Also I have tried to reinstall and still not appearing in the menu.
Any suggestion how can it be solved? I really love this extension.
Edit: all of the extension not working for m

[2019-01-14 12:15] seanhenry commented on #21
Hi @moheny

Thanks for raising this issue. Run through this check list to make sure everything is set up correctly:

- [ ] The latest version of this plugin is installed (v0.18)
- [ ] `System Preferences -> Security & Privacy -> Privacy -> Automation` shows Swift Mock Generator and Xcode is checked
- [ ] `System Preferences -> Extensions -> Xcode Source Editor` shows Mock Generator enabled

[2019-01-14 12:23] moheny commented on #21
Thank you for the fast reply.
The 'Xcode Source Editor' is not appears in the menu... is there any thing I can do to make it appear?

[2019-01-14 12:30] seanhenry commented on #21
I'm not exactly sure how the OS finds Xcode extensions but I have a feeling it might use spotlight. Make sure it is installed in the `/Applications` directory and that you have opened the app. Open spotlight and see if you can search for `Swift Mock Generator for Xcode`.

[2019-01-14 12:40] moheny commented on #21
I believe this is an Xcode problem since the 'Xcode source editor' is not even shown in the menu.
I have installed Xcode through appStore so I really have no clue why it is not appearing in the extension menu.
This is, apparently, has nothing to do with your extension, hence I think we can close this issue. I'll try to reinstall Xcode and pray to god it will work :-\.
Maybe having your service onl

[2019-01-17 16:29] laurence79 commented on #20
I've done this, also uninstalled Xcode completely, emptied trash, restart, reinstall, but the problem persists.
I've done an install on a separate machine and the plugin works fine, so it clearly is a problem with my environment but I'm stumped on how to figure out what exactly that problem is.

[2019-03-18 05:45] arkilis commented on #21
Same on Xcode 10, cannot find under Editor

[2019-03-28 15:01] dandreikiv opened #22 "Doesn't work with Xcode 10.2"
I have followed instruction step by step, but in the end I couldn't see `Mock Generator` in the `Editor` menu. Could be the problem is with Xcode 10.2 only. With Xcode 10.1 everything worked fine.

[2019-03-28 20:39] dandreikiv commented on #22
The issue can be closed. My mistake. I didn't follow steps precisely.

[2019-03-29 07:45] dandreikiv commented on #22
Actually it started work in `Xcode 10.2` only when I got `Xcode 10.1` and reinstalled `Swift Mock Generator`. Without `Xcode 10.1` it doesn't work in `Xcode 10.2`.
When I remove `Xcode 10.1` the `Swift Mock Generator` become inactive, it still present in Editor menu but greyed out.

[2019-03-29 10:11] seanhenry commented on #22
Hi @dandreikiv

Thanks for raising these issues.

I'm not sure why it would only work if Xcode 10.1 is installed. I can't see any changes to Source Editor Extensions in Xcode 10.2.

I know a couple reasons why it could be greyed out:

- The source editor must be open on a Swift or Obj-C source file.
- Xcode is indexing your project and you must wait until indexing is completed.

If neither of thos

[2019-03-29 10:21] dandreikiv commented on #22
Hi @seanhenry,
Thank you for the quick answer.

The source editor was open on Swift source file. And Xcode didn't index anything.

I have also found some errors in Console during launching Xcode 10.2

[code]

[2019-03-29 11:13] seanhenry commented on #22
Thanks for the logs.

A quick google revealed [this](https://stackoverflow.com/questions/52683722/cant-get-a-source-editor-extension-working-in-xcode-10) but the instructions to fix the problem are a little vague.

If that doesn't help then I would suggest posting your log on the Apple Developer website.

In the meantime, I'll take a closer look at Xcode 10.2 over the weekend.

[2019-03-29 14:55] seanhenry commented on #22
Not sure if this will help but can you send the output of this:
[code]

[2019-03-29 18:36] dandreikiv commented on #22
Hi @seanhenry, here is the output:
[code]

[2019-03-29 21:31] seanhenry commented on #22
It's interesting that you only have 1 plugin. I have a couple of default plugins in my list:
[code]
It makes me think there's a problem with your Xcode installation. Could you try to add the default plugins that I have to the plugin registry and see what output you get:
[code]
(Make sure to replace `Xcode-10.2.app` with your Xcode app bundle name)

[2019-03-31 15:07] dandreikiv commented on #22
I had fresh re-install of MacOS, with erasing of my hard drive and Xcode 10.2 was installed from AppStore.

[2019-03-31 18:28] seanhenry commented on #18
Hey @BohdanOrlov

Generating test doubles from subscripts is [now available](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.19) 🎉

[2019-03-31 18:32] seanhenry commented on #22
Is the plugin working now?

I just had the same problem when I installed the [new release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.19) that I just pushed. It disappeared from the Xcode menu and `System Preferences -> Extensions` and I fixed it by removing it and adding it from the plugin registry using the `pluginkit` cli:
[code]

[2019-03-31 20:06] dandreikiv commented on #22
Hi @seanhenry, I have removed Xcode and the `Mock Generator`, after that I installed Xcode again from  the AppStore and downloaded the new version of the `Mock Generator` - everything works now as it supposed to!!! Thank you for your help!

[2019-03-31 20:06] #22 closed, assigned to nobody

[2019-03-31 20:27] seanhenry commented on #22
Great! I’m glad it’s working now :)

[2019-04-01 11:34] fmirault opened #23 "Optional in stubbed properties"
Hi!
I just used the mock generator for the first time, and I noticed that the stubbed properties don't match the signature method.

For example, if a method has this signature `func object(forKey defaultName: String) -> Any?` , the associated stubbed property is `var stubbedObjectResult: Any!`.
I'd like to have instead of this `var stubbedObjectResult: Any?`, but maybe there is a reason that I don

[2019-04-01 12:51] seanhenry commented on #23
Hi @fmirault

Thanks for raising this issue.

I can see why you would want the type to match the return type in the method but this was my reasoning for the decision:

If the type of the stub property exactly matches the return type of the method then it won't always compile. Example when method returns guaranteed value:
[code]
The two ways to fix that would be to either:
[code]
or:
[code]

The fi

[2019-04-01 13:12] fmirault commented on #23
Hi @seanhenry

Thank you for your answer, now I better understand your choice :)
It's not a huge problem, because my use case is that I want to test some methods with nil values, so I just have to change some generated code after using the generator, not the best practice because every time I use the generator I loose my changes, but in every case I save time thanks to your tool. Thank you very mu

[2019-04-01 13:18] seanhenry commented on #23
No problem. I'm glad you like it :)

Do you mean you need your mock method to return nil? If so, you don't need to change the generated mock because it will return nil by default because the IUO will be converted to an optional.

Example:
[code]

[2019-04-01 13:20] fmirault commented on #23
Oh you're right! I thought that I will have a crash (I don't really know why...) but it's working, so I don't have to change anything in the generated code, thank you ! 👍

[2019-04-01 13:34] seanhenry commented on #23
👍

[2019-04-01 13:34] #23 closed, assigned to nobody

[2019-06-24 20:01] joshwoods opened #24 "Unexpected behavior when generating spies"
Example:

[code]

Returned generated code:

[code]

Please let me know if there is anything else you'd need from me! :)

[2019-06-26 08:11] seanhenry commented on #24
Hi @joshwoods

Thanks for raising this issue. I've been able to reproduce this. It looks like the parser thinks `open` is a keyword and is not parsing the function correctly.

I'm looking into a fix and I will update here when it's ready.

[2019-06-26 16:47] seanhenry commented on #24
This is now fixed 🎉 You can download the latest version [here](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.20)

[2019-06-26 18:17] joshwoods commented on #24
oh wow, what a super quick turnaround, thanks @seanhenry!

[2019-06-26 18:21] #24 closed, assigned to nobody

[2019-07-02 15:35] #18 closed, assigned to nobody

[2019-07-12 10:25] gonzaloalu opened #25 "Mock for specific method is not consistent for different scenarios"
For this protocol:
[code]

It generates:
[code]

BUT if I add a second, similar method the mock for the first one changes:

[code]

Generated code:
[code]

Also, I think that mocks should reflect the FULL method signature to better comply with Swift conventions, resulting in something like this:

[code]

I'm trying on Swift 5 and Xcode 10.2

[2019-07-19 18:21] gonzaloalu commented on #25
@seanhenry Do you know if this is the default behaviour ?

[2019-07-20 15:19] seanhenry commented on #25
Hi @gonzaloalu

Thanks for raising this issue and sorry for the late reply.

What you've described is expected behaviour. The way it works is that it will try to make the simplest unique name for each item. So in your case, you started with a method which was not overloaded so the simplest name `invokedSet` was used. When you added the next method, it is now overloaded and the simpler method gets

[2019-07-20 15:33] seanhenry commented on #21
I've since had this problem myself and managed to fix it. I've added instructions to the README and copied them here for reference:

## Troubleshooting

You might find that you are not able to see the plugin in the Editor menu or even in the Extensions preference pane. This seems to be caused by installing your Xcode version(s) outside of the App Store. If this happens, open Terminal and run:

[co

[2019-07-26 15:13] gonzaloalu commented on #25
Hello @seanhenry, first of all thanks for your response and explanation, and sorry for the late response on our part.

I agree with you on the part that if we want to support same method signatures but different parameter types, It will be too verbose. ( I don't know another solution for this) But I think that this is not very common scenario. Also, the plugin doesn't support that today either.

D

[2019-07-31 13:06] jowie opened #26 "Cannot mount dmg disk image"
I've been trying to download releases of the project, but even though the dmg files are about 10 MB, I receive the error "no mountable file systems". This is the full verbose output in Terminal:

[code]
I tried downloading the project for compilation, but I'd need an older version of Xcode.

I read somewhere that if a dmg is too new for the OS, it won't recognise it. I am on Mojave 10.14.6.

[2019-07-31 13:47] jowie commented on #26
Please ignore... I think it has something to do with anti-virus software. I found a workaround. Thanks.

[2019-07-31 13:47] #26 closed, assigned to nobody

[2019-09-11 10:27] vlondon opened #27 "Can't build a project"
Hello!

I'm trying to build a project but it requires `SwiftToolkit` and it's trying to clone it from `git clone git@bitbucket.org:seanhenry/swift-toolkit.git` but failing with `Please make sure you have the correct access rights and the repository exists.`

[2019-09-12 14:15] dandreikiv opened #28 "Xcode 11 GM. Could not find a class or protocol ...."
Hi. I have switched to Xcode 11 GM and Mock Generator started to give me an error with message `Could not find a class or protocol ...`. In Xcode 10.3 everything worked fine.

[2019-09-12 21:28] LuLuElayne commented on #27
I don’t know what 2do.

[2019-09-15 10:11] seanhenry commented on #27
Hi,

Thanks for raising this issue. I have a little note about this in the README; this project currently relies on some private libraries so it can't be compiled publicly at the moment.

I am actively working on changing this but it is a big change so won't be ready any time soon.

Let's keep this issue open and I will comment here when there are any updates.

[2019-09-15 16:12] seanhenry commented on #28
Hi,

Thanks for raising this issue.

The issue is fixed in the [latest release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.21) but make sure you read the release notes to migrate successfully.

This issue was caused by SourceKit in Xcode 11. It now requires an `-sdk` parameter pointing to a platform SDK. Unfortunately there's no easy way to automatically get the S

[2019-09-15 16:16] seanhenry commented on #25
Hi, sorry again for the slow reply - I'm very busy with other projects at the moment.

You're right, it could be a toggled setting. I'm happy to do this when I find time but it would be great to see some support for this feature. Everybody reading this, please respond with a 👍 if this feature is of interest to you.

[2019-09-23 01:34] LuLuElayne commented on #25
LittleSnitch-4.4.2-2.dmg

[2019-09-24 20:32] joshwoods opened #29 "Long Spy Generation Time (Both on 11 and 11.1 GM)"
We are noticing some long load times on our end when generating spies.

For example:

[code]

We have a protocol (listed above), this took ~2 minutes to generate whereas before it was pretty instantaneous.

To be fair, `LocationProviding` _is_ from a different target in our project. I've tried changing out `@testable import` and just plain ole `import` of that module in the mock file and neither o

[2019-09-29 12:39] alexcurylo commented on #29
Don't think it has anything to do with the target, I'm seeing a couple orders of magnitude time increase too on identical protocols with App Store Xcode 11. Happy to help if there's any useful diagnostics I can perform!

[2019-10-01 08:39] seanhenry commented on #29
Hi @joshwoods and @alexcurylo ,

Thanks for raising this issue. I've been able to reproduce it, but not able to find a solution so far. The problem is that source kit seems to get itself into a weird state. This is what Activity Monitor says:

![Screenshot 2019-10-01 at 09 33 36](https://user-images.githubusercontent.com/8556609/65946680-9622c380-e42e-11e9-8ff4-16f790c7dd8d.png)

I'm looking into

[2019-10-01 21:20] seanhenry commented on #29
I've figured out the issue. SourceKit needs a module cache parameter to find the indexed files now - before this was automatic. You can download the latest update [here](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases)

P.S. If you are interested in getting involved, I'm working on making this 100% open source again to enable people to contribute. I'll post again when that's ready

[2019-10-01 21:21] seanhenry commented on #28
I've improved the Xcode 11 support now - no need to add an SDK path and fixed some performance issues. You can download that release [here](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases)

[2019-10-01 21:21] #28 closed, assigned to nobody

[2019-10-01 22:11] wes-nz commented on #29
Thanks for the quick update @seanhenry!

Unfortunately it hasn't changed the processing time for me.  I made sure to check the presence of `/Users/Username/Library/Developer/Xcode/DerivedData/ModuleCache.noindex`.

I've created a brand new project and tried with @joshwoods example, it took 2 minutes.

If you have any other ideas, I am happy to try 🙏.
Thanks a lot for your work.

[2019-10-02 08:32] seanhenry commented on #29
@waleeg - I've just tried the same and it works just fine for me. I've also tried it on large projects and the performance seems fine.

Hopefully we can get this working for you. Could you check the following:
- Have you restarted Xcode before trying the update?
- Do you have automatically detect project path selected in the companion app? And does it show the correct directory when you have your

[2019-10-02 08:33] seanhenry commented on #29
@joshwoods does the update work for you?

[2019-10-02 14:01] Kevinvandenhoek commented on #29
@seanhenry I'm also having this issue with XCode Version 11.0 (11A420a).

`xcrun --show-sdk-path --sdk macosx` responds with `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk`

`pluginkit -m -p com.apple.dt.Xcode.extension.source-editor -A -D -vvv` shows im running version `codes.seanhenry.MockGeneratorApp.XcodePlugin(0.22)`

The generate spy comm

[2019-10-02 15:31] joshwoods commented on #29
@seanhenry I went through and installed the new update and the path is showing correctly, however, it _is_ giving me the "could not find a protocol". I suspect this maybe has to do with the protocol existing in another target as when I go the manual route (moving the parent folder of the entire project), it works, however, still as slow as before. 🤔

* I did restart
* I did both auto-detect and no

[2019-10-02 19:40] wes-nz commented on #29
Yep

Yep

Mojave 10.14.6 (18G95), Xcode 11.0 (11A420a)

`/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk`

[code]

Thanks

[2019-10-03 21:26] alexcurylo commented on #29
Still seeing it here too after fully cleaning and restarting, stock releases for everything.

Mojave 10.14.6 (18G95), Xcode 11.0 (11A420a)
Cache exists at `/Users/alex/Library/Developer/Xcode/DerivedData/ModuleCache.noindex`
SDK `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk`
Plugins
[code]

[2019-10-06 23:00] seanhenry commented on #29
I may (or may not) have fixed the issue... I'm not sure why it was working on my machine but I was finally able to reproduce the issue again. I have uploaded a [new version](https://www.dropbox.com/s/xwkwbp0oigtilgt/Swift%20Mock%20Generator%20for%20Xcode.dmg?dl=0) but I'm going to hold off from making it an official release until it works for you guys so please do let me know when you've tried it

[2019-10-07 01:46] wes-nz commented on #29
No luck for me, I've checked everything again.

You can find a dump of my logs [here](https://pastebin.com/raw/cY7itVBM).
Logs filtered for errors only [here](https://pastebin.com/raw/rvMSscuF).

Thanks!

[2019-10-07 08:15] seanhenry commented on #29
Thanks - could you attach the first 10 lines or so of the request - in your case it was written to: `/var/folders/tz/9lwdf4n55wndz_zhcy63qvh80000gn/T/SourceKitLogging-1570412278.log`

Could you also check your `xcode-select -p` and make sure it points to Xcode 11 or 11.1?

[2019-10-07 08:19] wes-nz commented on #29
[code]

`xcode-select -p` is pointing to the correct Xcode.
🙏

[2019-10-07 12:19] alexcurylo commented on #29
No joy here either and my request looks about the same:
[code]

[2019-10-07 23:29] joshwoods commented on #29
Pretty similar on this end:

[code]

[2019-10-10 18:58] seanhenry commented on #29
Thanks everyone for your continued testing efforts!

I have [another build](https://www.dropbox.com/s/wtxrjp7dxjqgi68/Swift%20Mock%20Generator%20for%20Xcode%20-%202.dmg?dl=0) for your to try. I think the problem has been that I've been largely testing on macOS projects and I'm hoping you are all on iOS projects? In the new build you now need to select a platform from the companion app.

Try the ne

[2019-10-10 19:57] wes-nz commented on #29
**iOS:**
Using @joshwoods example it only took 1 second. I tried with macOS or iOS selected within the app, no difference. 🎉

**macOS:**
No luck here. I made sure to select macOS in the app. The app crashed when the spy was being generated, it took a while to happen. [https://pastebin.com/BF1AM6MX](https://pastebin.com/BF1AM6MX)

I am wondering if the size of the project has anything to do with it

[2019-10-11 01:03] alexcurylo commented on #29
😢 Doesn't seem to make a difference here, but pluginkit still says `(0.23)` so maybe it's just having trouble picking up the new build? I'm on my way to Iran so probably won't be able to report more for a couple weeks...

[2019-10-11 11:19] TomVanDerSpek commented on #29
Unfortunately with this new build it still takes about 4 to 5 minutes to generate a spy. Even after following all 6 steps.
This new build also didn't automatically detect the root folder of my project, I had to specify it in the companion app.

(Platform: iOS, Xcode 11.0, MacOS 10.14.6)

[2019-10-14 20:23] joshwoods commented on #29
@seanhenry Sorry, I've been AFK for a bit on vacation so I haven't been able to respond. I tried pulling down the download you linked to above on dropbox, however, I don't see any option in that build to select a platform so I'm not entirely sure it's correct. But you would be correct, I am building for iOS!

[2019-10-18 14:41] gonzaloalu commented on #29
I have the same problem.
Xcode 11.0
Swift Mock Generator for Xcode 0.22

[code]

[code]

[2019-10-18 14:46] gonzaloalu commented on #29
I found a workaround. If you copy and paste the protocol on Playground and generate the mock from there, it'll take only 3 seconds.

[2019-10-21 14:42] seanhenry commented on #29
@gonzaloalu The performance problem we're having is that SourceKit doesn't seem to be finding the index/cache. So copying the files to the playground works because SourceKit is quick with or without an index when there are only a few files. I'm glad that's working as a workaround for now though.

@joshwoods Not sure why the build was incorrect for you but it doesn't seem to work for anyone anyway

[2019-10-21 14:54] TomVanDerSpek commented on #29
@seanhenry, seems to be fixed in this build! Generates complex spy's in less than a second. 🎉Thanks!

[2019-10-21 16:49] joshwoods commented on #29
@seanhenry so I'm definitely seeing _some_ go a little bit faster than they were. I am sorta thinking that part of my issue _now_ is the way this specific project is setup. For example, I setup a completely brand new project and made a protocol and a mock was created almost instantly.

However, using the `LocationProviding` example that I originally posted...`LocationProviding` is a public protoco

[2019-10-21 20:36] wes-nz commented on #29
@seanhenry  💯 it's fixed and faster than ever! It's instant. Thank you very much.

@joshwoods It seems to be project dependent, I just tried your example (`UINavigationControllerInterface`) and it was instant.

[2019-10-21 22:13] seanhenry commented on #29
@waleeg @TomVanDerSpek That's great news! I'm pleased it's working.

@joshwoods I'm pretty sure you're not using the latest version of the app. I have noticed that Xcode can get itself in a weird state and continue to reference old plugins in certain situations. The reason I think this is because there shouldn't be any logs generated in the new build, and it should also fail quite quickly now, eve

[2019-10-22 01:12] joshwoods commented on #29
well I'll be damned I think you're right! I went through the process of deleting, emptying trash, restarting and reinstalling and we're in business! thank you so much!

I even moved the project path all the way to the root (so that it'd include the base target as well as all dependencies) and that seems to work on those ones I was having issues with where it couldn't find the protocol!

Thanks so

[2019-10-22 10:48] seanhenry commented on #29
@joshwoods No worries - I'm really pleased it's working for you!

[2019-10-22 10:51] seanhenry commented on #29
I've created a [new update](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases) which adds some other minor improvements to the build that I posted here, so be sure to install the new version ASAP (the version number of the new release is still 0.23).

[2019-11-04 23:30] bertrandprenat opened #30 "Cannot set up Swift Mock Generator for Xcode in System Preferences"
Hello,

I am having issues setting up `Swift Mock Generator for Xcode` in `System Preferences`: when I go to `Security & Privacy` > `Privacy` > `Automation`, the app is not listed.

I have tried to reinstall the app, nothing changed.

Can you take a look at this issue?

Thank you!

**`macOS` version: macOS Mojave (10.14.6)
`Xcode` versions: 10.3 and 11.1
`Swift Mock Generator for Xcode` version: 0

[2019-11-05 09:10] seanhenry commented on #30
Hi @bertrandprenat

Thanks for raising this issue.

Could you help me figure this out by answering these questions:
- Is 0.23 the first version of this app you have tried? Or is this an upgrade problem?
- Have you ever received a prompt to allow the app to control Xcode?
- Do you see the app in `System Prefs -> Extensions -> Xcode Source Editor`?
- Can you see the Mock Generator option in Xcode's

[2019-11-05 09:36] #29 closed, assigned to nobody

[2019-11-05 09:56] fmirault commented on #30
Same problem for me for no reason, I haven't changed anything but suddenly it stopped working.

- 0.23 is the version that worked perfectly
- I already received a prompt to allow the app to control Xcode, in fact eveything is checked (even if I got an alert telling me "Mock Generator does not have permission to access Xcode.
Go to System Preferences -> Security & Privacy -> Privacy -> Automation a

[2019-11-05 10:52] seanhenry commented on #30
Hi @fmirault

Just to clarify, what do you mean by:

Do you mean it did work but is not working now? Or did upgrading to 0.23 fix the problem?

Are you running Mojave too?

[2019-11-05 10:57] fmirault commented on #30
Hi @seanhenry

I'm running Mojave, and 0.23 worked well (you know about the slow processing to generate stubs that was corrected in this version), but this morning I have this alert.

I really don't know how to help you more :(

[2019-11-05 14:45] seanhenry commented on #30
Try [this update](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/tag/v1-beta.24). I think there was a Capabilities problem.

Does that fix your issues?

[2019-11-05 15:27] fmirault commented on #30
Everything works as expected now 🎉 ! Thank you so much for such quick fix ;)

[2019-11-05 17:16] bertrandprenat commented on #30
Good morning @seanhenry!

Thank for your quick response!

To answer your questions:

- Is 0.23 the first version of this app you have tried? Or is this an upgrade problem?
  - It is the first version I have tried.
- Have you ever received a prompt to allow the app to control Xcode?
  - Yes I have.
- Do you see the app in System Prefs -> Extensions -> Xcode Source Editor?
  - Yes.
- Can you see the

[2019-11-05 17:21] bertrandprenat commented on #30
It's working now!!! 🤘🏻

[2019-11-06 09:31] seanhenry commented on #30
Great! Thanks to both of you for helping me fix this :)

[2019-11-06 09:31] #30 closed, assigned to nobody

[2019-12-11 18:46] jimmya opened #31 "[Feature request] Add expectation"
Hi,

First of all thanks for the great tool!
In some of my code I heavily rely on PromiseKit. And while the stub completion results provide great support for working with closures etc. when working with Promises I've got some issues In ensuring all of my code is executed when making my asserts. The same applies to working with stuff that's called in `UIView.animate` completion blocks. Currently I'

[2019-12-22 12:11] seanhenry commented on #31
Hi Jimmy,

Thanks for raising this issue and I'm pleased you're finding this tool useful. The templates I'm using are trying to follow the test doubles described in [this article](https://martinfowler.com/bliki/TestDouble.html) and I would like to keep the generated code as simple as possible so that it could be handwritten if required.

However, I think this trick might help. Create an intermedia

[2020-01-03 16:41] fmirault opened #32 "Cannot set up Swift Mock Generator for Xcode in System Preferences extensions"
Hello,

I am having issues setting up Swift Mock Generator for Xcode in System Preferences: when I go to System Preferences -> Extensions -> Xcode Source Editor,  the app is not listed.
Because of this, when I go to Editor, there is no 'Mock Generator' entry.

However, if I go to Security & Privacy > Privacy > Automation, the app is listed and checked.

I have tried to reinstall the app, nothing c

[2020-01-03 17:49] seanhenry commented on #32
Hi @fmirault

The certificates look ok to me. Try the following command in terminal:

[code]

[2020-01-03 18:38] fmirault commented on #32
Worked perfectly! Thank you!

[2020-01-03 18:38] #32 closed, assigned to nobody

[2020-02-06 21:44] BergQuester opened #33 "Doesn't generate static methods"
Create a protocol with a static method:

[code]

And start a mock:

[code]

Then generate a spy.

The static method will not be generated. I have a class that I can swap out for my tests, so generating mock static methods would be very useful.

[2020-02-08 13:45] seanhenry commented on #33
Hi @BergQuester

Thanks for raising this issue. Static mocks are a little more complicated because it will be very easy to accidentally keep state between tests. And I think, no matter what we do, static methods cannot be mocked when doing parallel testing.

That said, I can see how the missing support for static methods is irritating since they won't compile and require code to be added manually

[2020-02-10 16:20] jbfitb commented on #27
What do the private libraries do?

[2020-02-11 09:35] seanhenry commented on #27
An extension like this needs to be able to inspect the structure of a Swift file to understand how to implement a protocol or subclass a class. Xcode extensions get the file contents but not much else information to work with and SourceKit provides some of this information but it’s far too basic to use on its own. So the private libraries are there to parse, resolve and format the Swift code to ma

[2020-02-11 11:57] jbfitb commented on #27
Ae all the private libraries from Xcode extensions? If this is open source, why can't the libraries be too?

[2020-02-11 20:11] seanhenry commented on #27
The private libraries are being used in another project and are unfortunately not open source.

Can you tell me what you’d like to do with the project?

[2020-02-11 20:12] jbfitb commented on #27
Our security team won't let us use a library they can't inspect. The worry is all our code could be stolen through these private libraries that are not open source.

[2020-02-11 20:35] seanhenry commented on #27
I see, I can’t do much about sharing the code but feel free to put them in touch with me if that helps.

[2020-02-19 20:01] federico-jordan-peya opened #34 "[Feature request] Support from command line"
Hi guys, awesome work!
Do you know how can I run the mock generator from terminal? I'd like to automate some process and the tool is perfect to do my mocks.
Thanks in advance!

[2020-02-20 12:48] seanhenry commented on #34
Hi @federico-jordan-peya

Thanks for raising this issue. I'm pleased you like the extension.

There isn't currently a command line tool but one could be added quite easily. What would you need it to do? Scan a directory and generate all mocks matching a certain pattern?

[2020-02-20 12:56] federico-jordan-peya commented on #34
Yes, I think that would be great!
Also it can be added as a precommit hook, or maybe as a test target build step.

[2020-02-20 13:13] seanhenry commented on #34
Great, I'll look into it.

You might want to see what the performance is like before using a build step or commit hook but it should be fine for a small number of mocks.

[2020-02-20 13:17] federico-jordan-peya commented on #34
Yes, I'm also aware of that. I think that the main benefit would be just running it from command line to update many mocks at once.
Thanks you very much

[2020-02-20 13:18] federico-jordan-peya commented on #34
Maybe we can filter the mocks with some comment on top of the class name like `/// @GenerateMock`

[2020-04-06 12:53] iandundas opened #35 "Mystery (to me!) Void parameter"
When generating a spy with a function which has a closure, there's always an extra `Void` parameter

[code]

so when setting up spies, we have to use a tuple always with an extra `()` at the end:

[code]

Is this intentional behaviour? Instinctively it felt like `spy.stubbedSomeFunctionCallbackResult = true` would be better, but possibly this is a misunderstanding.

Thanks!

[2020-04-13 19:32] seanhenry commented on #35
Hi @iandundas

Thanks for raising this issue. The reason for this is so you can choose not to call the closure. It doesn't make sense for your example but consider your example with an optional closure parameter:

[code]

Does that make sense?

[2020-04-13 19:36] seanhenry commented on #34
Hi @federico-jordan-peya

I've added a command line tool in the [latest release](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases). Let me know what you think.

[2020-04-13 19:50] federico-jordan-peya commented on #34
Excellent @seanhenry, I will test it on my project. Thank you very much for attending the feature

[2020-04-13 19:59] seanhenry commented on #27
As of v0.25, this project can be downloaded and run by everyone

[2020-04-13 21:01] jbfitb commented on #27
Awesome @seanhenry. What changed?

[2020-04-13 21:25] seanhenry commented on #27
The compiled external libraries have been added to source control. Checkout the `master` branch to try building.

[2020-04-16 09:27] iandundas commented on #35
I _think_ I understand now :) thanks for the response!

[2020-04-16 09:27] #35 closed, assigned to nobody

[2020-06-09 13:25] agprateek16 opened #36 "Mojave and Xcode 11.3 Support"
Hi,
The current version is not compatible with Xcode 11.3 and Mojave. Can you please direct me to a version which supports this configuration.

[2020-06-12 11:43] seanhenry commented on #36
Hello @agprateek16

Thanks for raising the issue. There aren't any builds compatible with Xcode 11.3 and Mojave. The only Mojave compatible builds work with Xcode 10.

If you can't update to Catalina, I will try to make a build for you if you are happy to test that it works and feed it back to me so I can make a release. Are you happy to do that?

[2020-06-18 05:47] agprateek16 commented on #36
Yes. I am more than willing to trying out the build.

[2020-06-19 13:56] remover opened #37 "Support custom .mustache templates"
It would be cool if the user of the plugin could format the output from the plugin according to their wishes / standards in relation to naming in particular, i.e. the use of the term `...Spy` for captured parameters or to enable the exclusion of some of the generated properties, e.g. the boolean invoked.

This would potentially make it easier for people to switch from a previous mocking tool in or

[2020-06-19 14:22] seanhenry commented on #36
Great! You can download the build [here](https://www.dropbox.com/s/pu8un5yrhhrg09l/Swift%20Mock%20Generator%20for%20Xcode.dmg?dl=0).

If it works for you then I will publish an official release. Thanks for your help!

[2020-06-19 14:24] seanhenry commented on #37
Hi @remover

Thanks for raising this issue. This is something I've wanted to do for a while. I will try and allocate some time to add support for this soon. I'll post here with any updates.

[2020-06-19 14:24] #34 closed, assigned to nobody

[2020-06-19 14:25] seanhenry commented on #33
Closed due to inactivity

[2020-06-19 14:25] #33 closed, assigned to nobody

[2020-06-19 14:25] #31 closed, assigned to nobody

[2020-06-19 14:25] #27 closed, assigned to nobody

[2020-06-19 14:42] seanhenry commented on #37
Can you share an example custom mock with me? I need to know what attributes you'll need in your custom moustache files.

[2020-06-19 16:05] remover commented on #37
sure... our mocks are fairly simple:

[code]

[2020-06-26 06:16] davidthorn opened #38 "Installation?"
Looks like a great tool.
I was hoping to use this tool 'out of the box', but the initial documentation is confusing about how to actually install it:

Install Swift Mock Generator Xcode Source Editor Extension:
Close Xcode if it is open:  (check)

Download the latest release here (check)

Copy the app to the Applications folder. (What app?)

Open the app (What app?)

.. Gave up

[2020-07-23 21:09] quetool opened #39 "Using this with Objective C"
Hi! So, I do have a project written both in Objective C and Swift. But I would like to write tests only Swift either for those Objective-C modules. Could I use this plugin to generate mocks of Objective C classes and protocols and use them on a Swift unit test?

[2020-08-10 11:11] hendych commented on #38
<img width="981" alt="Screen Shot 2020-08-10 at 18 09 38" src="https://user-images.githubusercontent.com/8999432/89776808-cd74fd00-db34-11ea-9ed6-b9f38a50b27c.png">
- Open **Releases**, and then select release version you want to install.
- Expand the **Assets** and you will see the dmg file

[2020-09-10 09:09] rolandkakonyi opened #40 "Typo in permission error message"
At https://github.com/seanhenry/SwiftMockGeneratorForXcode/blob/40f9812df1fc20fe02043b83265a33e294ee824d/XcodePlugin/BookmarkedURL.swift#L19 the word `companion` is misspelled as `componion`

[2020-10-15 17:39] GustavoVergara opened #42 "Generated code does not follow the enclosing class access control"
When code is generated it doesn’t set an access control to anything.
This raises a compiler error when both the protocol and the mock class are public/open.

For example, this protocol and class:
[code]
Raises the error:
![image](https://user-images.githubusercontent.com/10637251/96166243-15791d00-0ef4-11eb-9d26-064a8c73f861.png)

[2020-10-16 11:16] MattAydin opened #43 "Extension doesn't work on Big Sur"
Hey guys,

I just updated to the Big Sur beta 10 with Xcode 12.1. However, when I try to generate mocks, the option isn't available for me anymore in the editor menu.

Any idea why?

Thanks!

[2020-10-22 06:58] tomlee130 opened #44 "ObjectToTest ？？？？"
What's this -> ObjectToTest
where is ObjectToTest's implementation

[2020-10-22 10:04] MattAydin commented on #43
Any update on this?

[2020-10-27 10:13] seanhenry commented on #42
Hi @GustavoVergara

Thanks for raising this issue. This feature hasn't been implemented yet but I will add it in the next release.

[2020-10-27 10:16] seanhenry commented on #43
Hi @MattAydin

Thanks for raising this issue and sorry for the late reply. I haven't updated to Big Sur yet but Xcode plugins can disappear sometimes especially if you have multiple Xcode apps installed. When this happens to me I follow the steps in the [Troubleshooting](https://github.com/seanhenry/SwiftMockGeneratorForXcode#troubleshooting) section of the readme to refresh the plugins. Let me kn

[2020-10-27 10:17] seanhenry commented on #44
Hi @tomlee130

In the readme example `ObjectToTest` would be the type that you would like to test. I haven't written the implementation but in this example it would look something like this:

[code]

[2020-10-28 17:57] dannypier commented on #43
@seanhenry Also having an issue with this. Did full uninstall/reinstall and not seeing it in editor menu.

Plugin shown when executing `pluginkit -m -p com.apple.dt.Xcode.extension.source-editor -A -D -vvv`

[code]

[2020-10-29 09:02] MattAydin commented on #43
Hey @seanhenry, thanks for your reply. I have already followed the steps stated in the troubleshooting section. Still no luck unfortunately. I am using Xcode version 12.1. Also as @dannypier states above, I have the same response when running that command as well.

[2020-10-29 11:22] tomlee130 commented on #44
That 's Good ,Tks

[2020-10-29 18:26] #44 closed, assigned to nobody

[2020-10-29 18:39] seanhenry commented on #43
Ok, just to make sure we're on the same page:

1. Go to System Preferences -> Extensions -> Xcode Source Editor and make sure the plugin is visible and checked.
2. Run the following command in Terminal to refresh the plugins - double check the path the Xcode is correct on your machine. If you have multiple versions of Xcode installed then you must point to Xcode 12.1.

[code]

If you have already

[2020-10-29 18:56] dannypier commented on #43
Thanks for the response @seanhenry. Followed your steps, plugin is visible and checked. No messages in logs. Would post clues here if I had them but the system log doesn't show anything related to mock.

[2020-10-30 10:50] MattAydin commented on #43
On my end it's the same unfortunately. Double checked with the steps you provided above, and also checked the Console.app for any logs related to the plugin. None..

Is there any other way for us to help you find a solution to this issue?

[2020-10-30 14:11] seanhenry commented on #43
Ah, looking at the release notes for Xcode 12:

I'll make a new build shortly and I'll post it here first since I can't test it without Big Sur. If this fixes it for you both, I'll create a release

[2020-10-30 14:22] #40 closed, assigned to nobody

[2020-10-30 15:22] seanhenry commented on #43
Ok, you can download the new version [here](https://github.com/seanhenry/SwiftMockGeneratorForXcode/releases/download/untagged-434414b1279638a8289c/Swift.Mock.Generator.for.Xcode.dmg). Let me know if it works for you and I'll make a release.

[2020-10-30 16:32] dannypier commented on #43
@seanhenry will absolutely test. link is 404'ing for me right now though.

[2020-10-30 20:23] seanhenry commented on #43
I think it was because I made a draft release. Try again now or download the latest release 👍

[2020-10-30 20:31] MattAydin commented on #43
Hey @seanhenry, just downloaded the draft release and as far as I can see right now it works like a charm. I'll keep this issue open until I have double check in next week. If that's okay with you. Thanks for your time and effort!

[2020-11-02 05:06] dannypier commented on #43
also confirming that the latest release fixed me up. thanks for cowboying this fix out @seanhenry!

[2020-11-02 05:56] dannypier commented on #43
May have spoke a smidge too soon. Mock generator now appears in the edit menu again, but upon any generator receive a `The file "<Project Name>" could not be found` message.

[2020-11-02 08:44] MattAydin commented on #43
Just verified. I just successfully generated a spy on Big Sur using Xcode 12.1. I hope your issue is resolved as well @dannypier. @seanhenry, whenever you feel like it, you can close this issue.

[2020-11-02 10:05] seanhenry commented on #39
Hi @quetool

It's unlikely that I will ever support ObjC because there is lots of support out there for writing mocks dynamically. These types of manual mocks are required in Swift because it is missing features like read/write introspection which mean a library like OCMock cannot work with it.

[2020-11-02 10:05] #36 closed, assigned to nobody

[2020-11-02 10:06] #38 closed, assigned to nobody

[2020-11-04 15:30] iandundas commented on #21
Didn't work for me :( one day the editor menu item just vanished, and also the Xcode Source Editor entry from Extensions System Preferences panel also vanished.

Did the above troubleshooting steps above (with Xcode closed), and reinstalled the mock generator app, and then did the steps above again, then opened Xcode, checked the Extensions panel, restarted Mac, did all the above again.. still no

[2020-11-05 10:40] iandundas commented on #21
Well it works now. I think I had the wrong path to my Xcode when running `lsregister -f /Applications/Xcode.app` - so that would explain why it didn't work 🙄

[2020-11-05 12:00] seanhenry commented on #21
Great, I'm glad it's working 👍

[2020-11-19 11:16] seanhenry commented on #43
It looks like it's working on Big Sur now. @dannypier feel free to open an issue if you are still getting that error.

[2020-11-19 11:16] #43 closed, assigned to nobody

[2020-11-23 15:04] ABTGarcia opened #45 "Can't find Mock Generator on Big Sur"
Hello!!

I was using this library without problems until today, but after upload to Big Sur (v.11.0.1) now I can't find the "Mock Generator" option inside "Editor" menu. I tried to give again permissions using the Application but seems that doesn't works.

My Xcode version is 12.2.

Does anybody knows how to solve this issue?

Thank you!

[2020-11-23 15:14] ABTGarcia commented on #45
Ok, I just saw that the v1-beta.27 has support for Big Sur , I'm so sorry and thank you!!

[2020-11-23 15:14] #45 closed, assigned to nobody

[2020-11-30 14:23] tgunr opened #46 "import AST errors"
Getting error that AST cannot be used as it was compiled for 5.3 while Xcode 12 is using 5.3.2

[2020-12-01 10:50] seanhenry commented on #46
Hi @tgunr

The project was building against Xcode 12.1. I've updated the libraries to work with Xcode 12.2 now. Pull in master to see the changes 👍

[2020-12-16 06:25] rgal75 opened #47 "Stubs are not generated when the member variable end in a '$'"
Given a protocol like:

[code]

when I 'generate spy'
then the generated code does not contain stubs and spies for `myObservable$`.

This used to work in earlier versions.

[2021-02-12 20:14] Raghavendra-Shedole commented on #30
@seanhenry Hi, I am looking for similar kind of extension but bit different naming format and what do i need to do for that? is it possible to change the mustache a bit to achieve it.

[2021-02-17 13:48] mattgapadmi opened #48 "Optional properties have a force-unwrapped stub"
Given a protocol with an optional property like:
[code]

The following non-optional stubbed value is generated:

[code]
Would it be possible for optional properties to have optional stubbed values?

[2021-02-23 14:29] fggeraissate opened #49 "Installation via Homebrew"
I would love to be able to install `genmock` via Homebrew 😃

[2021-03-02 11:31] fousa commented on #8
Any news on this issue?

[2021-03-03 09:47] jowie opened #50 "Stopped working under Big Sur and Xcode 12.4"
I'm not sure if I'm alone here, but since updating my Mac to Big Sur and Xcode 12.4, I cannot get the latest version (v1-beta.27) to work. I have tried reinstalling it and have also checked all the extensions, privacy and permissions. It runs for a few seconds and then nothing happens.

[2021-03-03 10:05] #50 closed, assigned to nobody

[2021-03-03 10:05] jowie commented on #50
Sorry - I was grouping protocols with `&` instead of commas. Different issue!

[2021-03-25 21:39] johnrnyquist opened #51 "Extensions not supported"
I've tried this in **Xcode 12.4** and **AppCode 2020.3.4**. It appears extensions are not supported, so this is a feature request to add support for extensions.

Notice when I attempt to create `FooSpy`, the extension to `Foo` is ignored.

[code]

[2021-03-25 22:40] #51 closed, assigned to nobody

[2021-03-25 22:41] johnrnyquist commented on #51
Ah never mind... I see the issue is that in Swift we cannot override non-@objc declarations from extensions, so neither can MockGenerator.

[2021-05-24 18:10] bmwalters commented on #46
@seanhenry looks like this needs another update for Xcode 12.5 / Swift 5.4.

[2021-07-12 14:50] justinvallely opened #52 "Indentation follows Xcode ctrl-i"
Hello!

When generating mocks for functions with input parameters on different lines, would it be possible to have them auto-indent based on Xcode's default `ctrl-i` shortcut? The end result would be input parameters aligned at their first character. Examples below.

Current:
[code]

Desired:
[code]

[2021-11-10 20:03] tiarnann commented on #31
@seanhenry I have a feature idea that solves this and it'd likely be less effort than directly adding an expectation or custom templates.

## Problem Description

The problem I'm running into is that I have a ViewModel I'd like to test. Inside the `ViewModel` there's a function which performs an asynchronous request.

[code]

In my test, I'd like to wait until the delegate is called to make an ass

[2021-12-08 12:52] MaxMilon opened #53 "Naming Conventions"
I was wondering: Isn't it more common to name parameters and functions that **did** something with `did` in the beginning. For instance, `didInvokeSend` instead of `invokedSend`. I know this makes it a bit longer, but Isn't this naming more common?

[2021-12-29 09:20] alschmut opened #54 "Generate async mocks"
As a developer I want get correctly generated mocks when using the new `async` keyword from the concurrency feature introduced with Swift 5.5.

Using the *Version 0.27 (3)* I experienced the following issue: When mocking an `async` function, then...
- the async keyword is not added to the mocked function
- the return value is ignored
- the `throws` keyword is ignored

[code]

[code]

[code]

[2022-02-10 14:32] axello opened #55 "Cannot compile because of missing private framework `SwiftToolkit`"
I cloned the repo, because we want less properties in our created spies.
When I try to compile it misses several libraries:
* `libGRMustache7-MacOS.a`
* `UseCases.framework`

Also, the Makefile refers to a non-existent git repo: bitbucket.org:seanhenry/swift-toolkit.git

This makes it impossible/hard to compile the code.

Perhaps provide a disclaimer that it is not possible to compile working code

[2022-03-31 06:32] Allje commented on #54
I have experienced the same problem. Is there any solution to this?

[2022-03-31 12:07] pkurzok commented on #54
I could use this too in my current project. Please make it happen!

[2022-04-13 06:40] teejayhh opened #56 "Optional function parameter break generator"
code like this breaks the code generation

[code]

Aside of this issue I am actually loving the this extension!

[2022-06-21 12:41] PatrickGaissert commented on #54
We also need this in our project.

[2022-08-08 07:43] alschmut opened #57 "Handle generic completion handlers in mocked function"
The below mocked generic completion handler does not compile as the generic `Value` can not be found outside the function.

Current state:
[code]

Proposed solution:
[code]

Ideally the solution also covers more complex completion handlers, where the generic type is nested. E.x:
[code]

[2022-10-24 18:18] MatiasGinart commented on #54
I am here just to say that we also need this

[2022-11-07 16:24] jowie commented on #54
In the meantime, a tip: Copy the protocol into the mock file, remove the keyword `async` from all function names and then build the mock. Then you can add it back afterwards. The `throws` functions will no longer be ignored.

[2022-11-09 03:05] phonefixnicole opened #59 "Can I enter it in the function?"